@import "tailwindcss";

@theme {
  --color-text-main: #6b6375;
  /* --color-text-heading: #08060d; */
  --color-bg-main: #ffffff;
  --color-border-main: #e5e4e7;
  --color-code-bg: #f4f3ec;
  --color-accent: #aa3bff;
  --color-accent-bg: rgba(170, 59, 255, 0.1);
  --color-accent-border: rgba(170, 59, 255, 0.5);

  --font-sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --font-heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-text-main: #9ca3af;
    /* --color-text-heading: #f3f4f6; */
    --color-bg-main: #ffffff;
    --color-border-main: #2e303a;
    --color-code-bg: #1f2028;
    --color-accent: #c084fc;
    --color-accent-bg: rgba(192, 132, 252, 0.15);
    --color-accent-border: rgba(192, 132, 252, 0.5);
  }
}

@layer base {
  html {
    font-family: var(--font-sans);
    font-size: 18px;
    line-height: 1.45;
    letter-spacing: 0.18px;
    color: var(--color-text-main);
    background-color: var(--color-bg-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (max-width: 1024px) {
    html {
      font-size: 16px;
    }
  }
}

#root {
  width: 100%;
  min-height: 100svh;
  margin-inline: auto;
  border-inline: 1px solid var(--color-border-main);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
